<div class="container d-flex justify-content-center" >
<div class="bg-white box ">
    <h1 class="design">Frontend Developer</h1>
    <h2 class="design2">Learning Frontend and Web Development.</h2>
    <img class="avatar" src="../../assets/mf-avatar.svg">
</div>


</div>
<!-- <img class="avatar1" src="../../assets/hero-devices.svg" alt="images"> -->
<div class="primary ">
    <div class="container">
        <div class="row" >
            <div class="col" ></div>
            <div class="col-11">
                <h1 id="title">Hi, I’m XYZ. Nice to meet you.</h1>
            </div>
            <div class="col"></div>
        </div>
        <div class="row d-flex" >         
            <div class="col-12 .hidden-xs">
                <h2 class="subtitle" id="subtitle">Since beginning my journey as a enthusiast of techonology, I've come to learn of many fields, i have come to learn web Development. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quidem dolore quibusdam vel ad deserunt quisquam deleniti explicabo dolorum dolor.</h2>
            </div>
        </div>
    </div>
</div>
<!-- Put a featured project/recent work or something highlighting in here -->

